{% extends "base.html" %}
{% load staticfiles %}
{% load django_tables2 %}
{% block title %}
<title>User Panel</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h1 class="p-2 display-4">Welcome to Active Panel</h1>
            <h3 class="p-2">Visit Our Branches</h3>
            {% render_table rest_table %}
        </div>
    </div>
</div>
{% endblock %}