<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}

    {% endblock %}
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap-material-design.css'%}">
    <script src="{% static 'jquery.js'%}"></script>
    <script src="{% static 'js/bootstrap-material-design.js'%}"></script>
</head>
<body>
    {% block extra_js %}{% endblock extra_js %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 px-0">
                <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                    <a href="{% url 'home'%}" class="navbar-brand"><span class="text-danger">The Khrolia</span> <span class="text-success">Group</span></a>
                        <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a href='{% url "home" %}' class="nav-link text-light">HOME  </a>
                                    </li>
                                {% if user.is_authenticated %}
                                    {% if user.is_staff %}
                                    <li class="nav-item">
                                        <a href="{% url 'stafflogin' %}" class="nav-link">STAFF PAGE</a>
                                        </li>
                                        {% elif user.is_active %}
                                        <li class="nav-item">
                                            <a href="{% url 'active_user' %}" class="nav-link">USER PAGE</a>
                                            </li>
                                            {% endif %}
                                <li class="nav-item">  
                                    <a href="{% url 'uslogout'%}" class="nav-link">Logout</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link">{{ user.username }}</a>
                                </li>
                                {% else %}
                            <li class="nav-item">
                                <a href='{% url "login" %}' class="nav-link text-light">LOGIN</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'userregister' %}" class="nav-link">Register as COMPANY</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'basereg' %}" class="nav-link">Register as BASIC USER</a>
                            </li>
                            {% endif %}
                        </ul>
                </nav>
            </div>
        </div>
    </div>
    {% block body %}
    {% endblock %}
</body>
</html>