{% extends "base.html"%}
{% load static %}
{% load bootstrap4 %}
{% block body %}
{% if status %}
<script>
    alert('{{status}}');
</script>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form action="" method="post" class="bg-faded p-2">
                {% csrf_token %}
                {% bootstrap_form frm %}
                <input type="submit" value="Register" class="btn btn-raised btn-success px-3 py-2 mt-3">
            </form>
        </div>
    </div>
</div>  
{% endblock %}
