{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block body %}
<div class="container">
    <div class="row">
            <div class="col-md-12 p-2 text-center">
                <h2 class="display-4">Coming Soon</h2>
            </div>
        </div>
</div>
{% endblock %}