{% extends "base.html"%}
{% load static %}
{% block title %}
<title>Login</title>
{% endblock %}

{% block body %}

{% if status %}
<script>
    alert('{{status}}');
</script>
{% endif %}
<div class="container">
    <div class="row p-3">
        <div class="col-md-4 mx-auto p-3">
            <h4 class="text-weight-bold text-center">Login Here</h4>
            <form method="post" class="text-white">
                {% csrf_token%}
                <div class="form-group mt-2">
                    <input type="text" class="form-control" name="un" placeholder="Enter Username Here">
                </div>
                <div class="form-group mt-2">
                    <input type="password" class="form-control mt-2" name="pwd" placeholder="Enter Password Here">
                </div>
                <div class="checkbox mt-2">
                    <input type="checkbox" name="rememberme">
                    <label>Remember Me</label>
                </div>
                <div class="form-group mt-2">
                    <input type="submit" class="btn btn-success btn-raised" value="Sign In">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}