{% extends "base.html"%}
{% load bootstrap4 %}
{% block title %}
<title>Register</title>
{% endblock %}

{% block body %}
{% if status %}
<script>
    alert('{{status}}');
</script>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-7 mx-auto mt-5">
            <h1 class="text-center p-3">Register as Company</h1>
            <form class="bg-faded p-4" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Enter Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label>Enter Username</label>
                    <input type="text" placeholder="Username" name="username" class="form-control">
                </div>
                <div class="form-group">
                        <label>Enter Email</label>
                        <input type="email" class="form-control" name="email" placeholder="E-mail">
                    </div>
                <div class="form-group">
                        <label>Enter Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Choose Strong Password">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-raised" value="Submit">
                        </div> 
            </form>
        </div>
    </div>
</div>
{% endblock %}