{% extends "base.html"%}
{% load bootstrap4 %}
{% load material_form %}
{% block title %}
<title>Staff Panel</title>
{% endblock %}

{% block body %}
{% if status %}
<script>
        alert('{{status}}');
    </script>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center mt-3">
            <h1 class="display-4">Welcome to STAFF PANEL</h1>
        </div>
    </div>
        <div class="row mt-5">
            <div class="col-md-5 mx-auto">   
                    <h1>Here is List of Branches</h1>
                    {% for data in rest_data %}
                    <table class="text-center table-striped mx-auto" style="width: 100%">
                        <tr>
                            <th>{{ data.City }}</th>
                        </tr>
                        <tr>
                            <td>
                                {{ data.Address}}
                            </td>
                        </tr>
                    </table>
                    {% endfor %}
        
                </div>
                <div class="col-md-7">
                    <h4 class="text-center">Register new Branch Here</h4>
                    <div class="form-group">
                        <form method="POST" style="width: 70%" class="mx-auto">
                            {% csrf_token %}
                            {% bootstrap_form addf %}
                            <input type="submit" class="btn btn-success btn-raised px-3" value="Submit">
                        </form>
                    </div>
                </div>
        </div>

</div>

{% endblock %}