<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BASE PAGE</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">

    {% block style %}

    {% endblock %}
</head>
<body>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-12 px-0'>
                <nav class='navbar navbar-dark bg-warning navbar-expand'>
                    <a href="" class='navbar-brand'>Logo</a>
                    <ul class='navbar navbar-nav mx-auto'>
                        <li class='nav-item'>
                            <a href="" class='nav-link'>Home</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>  
        <div class='row'>
            <div class='col-md-3 bg-dark  text-center py-4'>
                <img src="{% static 'images/img4.jpg'%}" height='100' width='100' class='rounded-circle'>
                <div class='py-5text-light'>
                    <nav class='navbar navbar-dark'>
                        <ul class='navbar navbar-nav mx-auto'>
                            <li class='nav-item'>
                                <a href="" class='nav-link'>View Profile</a>
                            </li>
                            <li class='nav-item'>
                                <a href="" class='nav-link'>Edit Profile</a>
                            </li>
                            <li class='nav-item'>
                                <a href="" class='nav-link'>Change Password</a>
                            </li>
                            <li class='nav-item'>
                                <a href="" class='nav-link'>Upload Post</a>
                            </li>
                            <li class='nav-item'>
                                <a href="{% url 'mysite:uslogout'%}" class='nav-link'>Logout</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class='col-md-9'>
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>