<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <script src="{% static 'jquery.js'%}"></script>
    <script src="{% static 'js/bootstrap.js'%}"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0">
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                    <a href="" class="navbar-brand">LogoHere</a>
                    <ul class="navbar-nav mx-auto">
                        {% if user.is_authenticated %}
                        <li class="nav-item">  
                            <a href="{% url 'mysite:uslogout'%}" class="nav-link">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link dropdown" data-toggle="dropdown">{{user.username}}|My Profile</a>
                            <div class="dropdown-menu">
                                <a href="{% url 'mysite:userReg'%}" class="dropdown-item">As User</a>
                                <a href="{% url 'register'%}" class="dropdown-item">As Company</a>
                            </div>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="" class="nav-link dropdown" data-toggle="dropdown">Register</a>
                            <div class="dropdown-menu">
                                <a href="{% url 'mysite:userReg'%}" class="dropdown-item">As User</a>
                                <a href="{% url 'register'%}" class="dropdown-item">As Company</a>
                            </div>
                        </li>
                        <li class="nav-item">  
                           <a href="{% url 'mysite:uslogin'%}" class="nav-link">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        {% block body %}

        {% endblock %}
    </div>
</body>
</html>