{% extends "base.html "%}
{% load staticfiles %}
{% load bootstrap4 %}
{% block body %}
{% if status %}
<script>
    alert('{{status}}');
</script>
{% endif %}
<div class="row">
    <div class="col-md-6 col-lg-6">
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form frm %}
            <input type="submit" value="Register" class="btn btn-success m-2">
        </form>
    </div>
    <div class="col-md-6 col-lg-6">
        <img src="{% static 'images/bg.jpg'%}" width="100%" height="100%" alt="">
    </div>
</div>
{% endblock %}
