{% extends "base.html"%}
{% block body %}
{% if status %}
<script>
    alert('{{status}}');
</script>
{% endif %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 class="text-center">Register as Company</h1>
        <form action="" class="bg-light p-4" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="">Subtitle</label>
                        <select name="subtitle" id="" class="form-control">
                            <option value="Mr.">Mr.</option>
                            <option value="Ms.">Ms.</option>
                            <option value="Mrs.">Mrs.</option>
                        </select>
                    </div>
                    <div class="col-md-8">
                        <label for="">Name</label>
                        <input type="text" class="form-control" name="name">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Username</label>
                <small id="msz"></small>
                <input type="text" class="form-control" name="username" onkeyup="checkUser()" id="username">
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="text" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label for="">Date of Birth</label>
                <input type="date" class="form-control" name="dob">
            </div>
            <div class="form-group">
                <label for="">city</label>
                <input type="text" class="form-control" name="city">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" id="submit" disabled>
            </div>
        </form>
    </div>
</div>
<script>
function checkUser(){
    let uname = $('#username').val()
    $.ajax({
        url:'{% url "mysite:validUser"%}',
        type:'get',
        data:{usn:uname},
        success:function(data){
            if(data=="Exists"){
                $('#msz').html("&times; A User With this name already Exist").css('color','red');
                $('#submit').attr('disabled','disabled')
            }else{
                $('#msz').html("Validation Success!!").css('color','green');
                $('#submit').removeAttr('disabled')
            }
            
        }
    })
}
</script>
{% endblock %}